<%= form_with model: shortcut, class: "form" do |form| %>
  <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to].present? %>
  <% if shortcut.errors.any? %>
    <div class="form-errors">
      <h3>Check the fields</h3>
      <ul>
        <% shortcut.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <label>
      <span>Name</span>
      <%= form.text_field :name, placeholder: "Grafana", required: true %>
    </label>
    <label>
      <span>URL</span>
      <%= form.url_field :url, placeholder: "http://grafana.local", required: true %>
    </label>
    <label>
      <span>Image</span>
      <%= form.file_field :icon_image, accept: "image/*" %>
    </label>
    <label>
      <span>Image URL</span>
      <%= form.url_field :icon_url, placeholder: "https://example.com/icon.png" %>
    </label>
    <label>
      <span>Category</span>
      <%= form.text_field :category, placeholder: "Observability" %>
    </label>
    <label>
      <span>Order</span>
      <%= form.number_field :position, min: 0 %>
    </label>
    <label>
      <span>Monitoring</span>
      <%= form.select :monitor_enabled, [["Enabled", true], ["Disabled", false]] %>
    </label>
    <label>
      <span>Check interval (sec)</span>
      <%= form.number_field :check_interval_seconds, min: 10, max: 3600, placeholder: "60" %>
    </label>
  </div>

  <div class="toolbar">
    <%= form.submit class: "button" %>
  </div>
<% end %>
